@model IEnumerable<TimeTracker.Models.Task>

@{
    ViewData["Title"] = "Index";
}

<h1>Tasks</h1>

<p>
    @Html.ActionLink("Create New", "Create", new { taskTypeId = ViewBag.TaskTypeId })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    @if (item.Status != "Solved")
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskType.Name)
            </td>
            <td>
                @Html.ActionLink("Start", "Start", "Workings", new { taskId = @item.Id })
                @if (ViewBag.CurrentUserId == item.UserId || ViewBag.CurrentUserId == item.TaskType.UserId) 
                { 
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                @if (ViewBag.CurrentUserId == item.UserId || ViewBag.CurrentUserId == item.TaskType.UserId)
                {
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
    }
}
    </tbody>
</table>
