@{
    ViewData["Title"] = "Home";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Create your projects, invite contributors and solve tasks together with TimeTracker.</p>
        @if (User.Identity.IsAuthenticated)

        {
            @foreach (var item in ViewBag.Contributions)
            {
                @if (item.ContributionConfirmed == false)
                {
                    <div class="box-shadow">
                        <p>User @item.Project.User.Email invites you to collaborate on @item.Project.Name.</p>
                        @Html.ActionLink("Accept", "Accept", "Contributions", new { userId = @item.UserId, projectId = @item.ProjectId })
                        @(" or ")
                        @Html.ActionLink("Reject", "Reject", "Contributions", new { userId = @item.UserId, projectId = @item.ProjectId })
                    </div>
                }
            }
        }
    </div>
