@model TimeTracker.Models.Working

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Working</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Changes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Changes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
